# Ignore zip files
*.zip

# Ignore Mac system files
.DS_Store

# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore build directories
/dist/
/build/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore environment variables
.env
